*{
  margin:0%;
  padding: 0%;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(nccbg.jpg);
    height:100vh;
    background-size: cover;
    background-position-x: center;
}
.red{
    background-color: red;
    height: 45px;
    color:white;

}
.red h2{
    font-size: 12px;
    font-family: Arial;
    padding:12px;
    text-align: center;
}

.img{
    margin: 2px;
    margin-top:60px;
    margin-left:48.5%;
    
}

.db{
    background-color: darkblue;
    height: 45px;
}

.db h1{
    color:White;
    font-size: x-large;
    font-family:'Times New Roman';
    text-align: center;
    padding: 5px;
}

.lb{
    background-color: lightskyblue;
    height: 40px;
}

ul{
    float:right;
    list-style-type:none;
    margin-right: 25px;
    margin-top:6px;
    
    

}
ul li{
    display:inline-block;
    
}

ul li a{
    text-decoration: none;
    border: 1px solid black transparent;
    color: white;
    padding: 2px 5px;
    transition: .4s ease;
}

.hme a{
    border-bottom: 2px solid red;
    color:white;
}

ul li a:hover{
    border-bottom:2px solid red;
    border-top: none;
    

}

.img1{
    float:right;
    margin-right:60px;
    }


.content{
    margin-top:30px;
    padding:4px;

    }
.content h1{
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}


.body{
    margin-top: 3px;
    font-size: medium;
    font-family:sans-serif;
    color:tomato
}
.login{
    border-style:outset;
    width:250px;
    height:380px;
    background:linear-gradient(to top,rgba(255, 153, 128, 0.096),rgba(255, 153, 128, 0.096));
    position: absolute;
    top: 200px;
    margin-left:1200px;
    border-radius: 10px;
    padding :25px;
}

.login input{
    color:white;
}


::placeholder{
    color: white;
}

.login h2{
    width:220px;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 3px;
    color:whitesmoke;

}
.login input{
    width:220px;
    height: 25px;
    background:transparent;
    border-top:none;
    border-left: none;
    margin:20px;
}

.Dnt{
    margin-left:12px;
    width:190px;
    font-size: 12px;
    font-family: Arial;
    padding: 2px;
    color:white;
}

h3 a{
    color:darkred;
    font-size: 18px;
    text-decoration: none;

}

.liw{
    text-align: center;
    font-style: bold;
    font-size:12px;
    margin-top: 13px;
    margin-left: 33px;
}

.btn{
    width:120px;
    height: 30px;
    margin:20px;
    margin-left:55px;
    border:1px solid snow;
    background:white;
    color:white;
    border-radius: 5px;
    cursor:pointer;
    background-color: black;

}

.btn a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.btn:hover{
    background-color: grey;
}


.icon a{
    text-decoration: none;
    color: whitesmoke;
}

.icon i{
    margin-top: 10px;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 24px;
}

.icon i1{
    margin-top: 10px;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 24px;
}

.icon i2{
    margin-top: 10px;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 24px;
}

.icon i3{
    margin-top: 10px;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 24px;
}

.icon i:hover{
    color: lightblue;
}

.icon i1:hover{
    color:purple;
}

.icon i2:hover{
    color:blue;
}

.icon i3:hover{
    color:red;
}


nav{
    width:120px;
    height:15px;
    padding:10px;
    position: absolute;
    top: 80%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    border:1px solid white;
}
nav a{
    text-decoration: none;
    text-align: center;
    padding:0px 2px;
    color:snow;
}
nav a:hover{

    color:orangered;

}
nav:hover{
    border-color: red;
}

.emblem {
    width:210px; 
    height:250px;
    margin-top:7px;
    margin-left:5px;
    border:10px solid lightskyblue;
}